version: '3.8'

services:
  bot:
    image: spectrum-club-bot:${IMAGE_TAG:-latest}
    container_name: spectrum-bot-prod
    environment:
      APP_ENV: ${APP_ENV}
      BOT_TOKEN: ${BOT_TOKEN}
      DB_HOST: postgres-db-spectrum  # Имя контейнера в той же сети
      DB_PORT: 5432
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_SSL_MODE: ${DB_SSL_MODE}
      LOG_LEVEL: ${LOG_LEVEL}
      BASE_URL: ${BASE_URL}
    restart: unless-stopped
    networks:
      - postgres-db_postgres-net  # Подключаем к той же сети

networks:
  postgres-db_postgres-net:
    external: true  # Используем внешнюю сеть